img {
  width: 24px;
  height: 24px;
}

.a__navbar {
  display: block;
}

.nav__navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 40px 0 16px;
  height: -webkit-fill-available;
  width: 80px;
  border-right: 1px solid rgba(230, 230, 230, 1);
}

.section__navbar {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.section__navbar a:last-child {
  border-top: 1px solid rgba(230, 230, 230, 1);
  padding-top: 35px;
}

body {
  margin: 0;
  height: 100vh;
}
